<!DOCTYPE html>
<html>
<head>
<title>Table data</title>

<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}" >
</head>
<body>
<div>
<table style="width:100%">
 <tr>
  <th>movie</th>
  <th>length</th>
  <th>comments</th>
 </tr>
{% for movie ,length in movies.items() %}
   <tr>
     <td>{{ movie }}</td> 
     <td>{{ length }}</td>     
  {% if   length < 2    %}
    <td>short</td>
  {% elif 2<= length <= 3 %}
    <td>medium</td>
   
  {% else %}
   <td>long</td>
   </tr>

  {% endif %}

{% endfor %}
</table>

</div>
</body>
</html>
